In [1]:
import pandas as pd
import matplotlib.pyplot as plt

class dataframe():
	'''load csv file and select relavant colomns'''

	def __init__(self):
		'''Instantiates a class object'''
		pass

	def load_clean_csv(self):
		'''
		Loads a csv file
		Throws an exception when IOError occurs
		'''
		try:
			print "\nLoading data..."
			self.raw_df = pd.read_csv("../311_Service_Requests_from_2010_to_Present.csv", dtype = 'unicode')
		except IOError:
			print 'The file does not exit. Please check your file directory.'

		# Select relavent columns
		print "\nCLeaning data..."
		self.df = self.raw_df[[u'Unique Key', u'Created Date', u'Closed Date', u'Agency', u'Agency Name', u'Complaint Type', u'Location Type', u'Incident Zip', u'Status', u'Due Date', u'Resolution Action Updated Date', u'Community Board', u'Borough', u'School Name']]
		# Drop rows with missing data in the subset of columns
		self.df = self.df.dropna(subset = [u'Created Date', u'Agency', 'Complaint Type',u'Borough'])
		# Drop rows with Agency = 3-1-1
		self.df = self.df[self.df['Agency']!='3-1-1']
		return self.df

In [2]:


import csv
import pandas as pd 
import sys


def get_borough(boroughs):
	''' 
	Lets user input a borough name of NYC, which is 'BROOKLYN', 
	'MANHATTAN', 'BRONX', 'QUEENS', or 'STATEN ISLAND'.
	'''

#	boroughs = ['NYC', 'BROOKLYN', 'MANHATTAN', 'BRONX', 'QUEENS', 'STATEN ISLAND']

	while True:

		try:
			print 'Boroughs are ' + ', '.join(boroughs) + '.'
			borough = raw_input("Enter a borough name (not case-sensitive), or enter 'finish' to exit: ").upper()
			
			if borough in boroughs:
				return borough			
			elif borough == 'FINISH':   # to be used later in the main program to exit the program
				print "You entered 'finish'. Exiting the interactive mode..."
				return borough
			
        #catches invalid input    
		except ValueError:
			print "\nOops!  Invalid input."
		except KeyboardInterrupt:
			print 'You pressed Ctrl+C! Exiting...'
			sys.exit()

In [3]:
def get_agency(agencies):
	''' 
	Lets user input an agency code.
	'''

	while True:

		try:
			print 'Agency codes are ' + ', '.join(agencies) + '.'
			agency = raw_input("Enter an Agency code ()not case-sensitive), \nor enter 'finish' to exit: ").upper()

			if agency in agencies:
				return agency
			elif agency == 'FINISH':   # to be used later in the main program to exit the program
				print "You entered 'finish'. Exiting the interactive mode..."
				return agency

        #catches invalid input    
		except ValueError:
			print "\nOops!  Invalid input."
		except KeyboardInterrupt:
			print 'You pressed Ctrl+C! Exiting...'
			sys.exit()

In [4]:

def draw_boro_bar(df,boro):
	'''
	Draws bar chart of the complaints of each agencies in a selected Borough.
	'''

	df_groupby = df[['Unique Key', 'Agency']].groupby('Agency').count()
	df_groupby.plot(kind = 'bar', legend = False, subplots = True, title = 'Total number of complaints in %s' %boro)
	plt.show()
	plt.close()

In [5]:
df = dataframe().load_clean_csv()
boros = list(df.Borough.unique())
df.head()

Loading data...

CLeaning data...

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Location Type,Incident Zip,Status,Due Date,Resolution Action Updated Date,Community Board,Borough,School Name
0,29607601,12/31/2014 12:00:00 AM,NaN,HPD,Department of Housing Preservation and Develop...,APPLIANCE,RESIDENTIAL BUILDING,11218,Open,NaN,12/31/2014 12:00:00 AM,12 BROOKLYN,BROOKLYN,Unspecified
1,29607629,12/31/2014 12:00:00 AM,NaN,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,RESIDENTIAL BUILDING,10027,Open,NaN,12/31/2014 12:00:00 AM,10 MANHATTAN,MANHATTAN,Unspecified
2,29607635,12/31/2014 12:00:00 AM,NaN,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,RESIDENTIAL BUILDING,10016,Open,NaN,12/31/2014 12:00:00 AM,06 MANHATTAN,MANHATTAN,Unspecified
3,29607646,12/31/2014 12:00:00 AM,NaN,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,RESIDENTIAL BUILDING,11225,Open,NaN,12/31/2014 12:00:00 AM,09 BROOKLYN,BROOKLYN,Unspecified
4,29607856,12/31/2014 12:00:00 AM,NaN,HPD,Department of Housing Preservation and Develop...,FLOORING/STAIRS,RESIDENTIAL BUILDING,10458,Open,NaN,12/31/2014 12:00:00 AM,07 BRONX,BRONX,Unspecified

In [4]:
# for boro in boros:
#     print "\nPlotting %s bar chart..." %boro
#     df_boro = df[df.Borough == boro]
#     draw_boro_bar(df_boro, boro)

# draw_boro_bar(df, 'NYC')

Plotting BROOKLYN bar chart...

Plotting MANHATTAN bar chart...

Plotting BRONX bar chart...

Plotting QUEENS bar chart...

Plotting STATEN ISLAND bar chart...

Plotting Unspecified bar chart...

In [6]:
boroughs = list(df.Borough.unique())
while True:
    boro = get_borough(boroughs)

    if boro == 'FINISH':
        break

    else:
        print "\nPlotting %s bar chart..." %boro
        df_boro = df[df.Borough == boro]
        draw_boro_bar(df_boro, boro)

Boroughs are BROOKLYN, MANHATTAN, BRONX, QUEENS, STATEN ISLAND, Unspecified.
Enter a borough name (not case-sensitive), or enter 'finish' to exit: finish
You entered 'finish'. Exiting the interactive mode...

In [7]:
def draw_agency_pie(df, agency):
	'''
	Draws pie chart of the complaints of a selected agency in each borough.
	'''
	df_groupby = df[['Unique Key', 'Borough']].groupby('Borough').count()
	df_groupby['Unique Key'].plot(kind = 'pie', autopct='%1.1f%%', shadow=True, figsize=(8, 8), title = 'Total number of complaints for %s in each Borough' %boro)
	plt.show()
	plt.close()

In [ ]:
agencies = list(df.Agency.unique())
while True:
    agency = get_agency(agencies)

    if agency =="FINISH":
        break
    else:
        print "\nPlotting %s bar chart..." %agency
        df_agency = df[df.Agency == agency]
        draw_agency_pie(df_agency, agency)

Agency codes are HPD, DOHMH, NYPD, DOT, TLC, DOB, DSNY, DEP, CHALL, HRA, DPR, DOF, DCA, DOE, FDNY, EDC, DHS, DOITT, DCLA, OATH, DFTA, OCME, OEM, AJC, DOC, DOP, MOIA, DV, OPS, MOPD, LAW, NYCPPF, NYCERS, COIB, NYCSERVICE, CCRB, NYCOOA, NYCHA, MOC, MOVA, TFA, OCHIA, OPA, DYCD, MOFTB, LOFT, DCAS, UNCC.
Enter an Agency code ()not case-sensitive),
or enter 'finish' to exit: hpd

In [36]:
df_groupby = df[['Unique Key', 'Borough']].groupby('Borough').count()

In [37]:
df_groupby.head()

               Unique Key
Borough
BRONX              339815
BROOKLYN           555692
MANHATTAN          372931
QUEENS             406925
STATEN ISLAND       90239